* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  background: linear-gradient(rgb(96, 197, 210), rgb(75, 88, 166));
}

#hoodad {
  font-size: 45px;
  margin-bottom: 100px;
}

.icon img {
  width: 256px;
  height: 256px;
}

.location,
.temperature {
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.temperature {
  flex-direction: column;
}

.temperature-description {
  font-size: 25px;
}

.degree-section {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}